*, body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template: 100vh / minmax(150px, 1fr) 3fr;
    min-width: 765px;
    min-height: 500px;
}

.sidebar {
    background-color: blue;
    grid-area: 1 / 1 / 2 / 2;
    min-height: 500px;
}

.sidebar ul {
    display: grid;
    grid-template: repeat(10, auto) / 1fr;
}

.sidebar li {
    border: dashed white 1px;
}

.main {
    display: grid;
    grid-template: minmax(100px, .3fr) 1fr / 100%;
    min-height: 500px;
}

.header {
    background-color: aqua;
    grid-area: 1 / 1 / 2 / 2;
}

.content {
    background-color: lightcyan;
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    grid-template: 1fr / 2fr 1fr;
}

.projects {    
    display: grid;
    grid-template: repeat(auto-fit, minmax(50px, 1fr)) / repeat(auto-fit, minmax(150px, 1fr));
    gap: 25px;
    margin: 25px;
}

.project-card {
    background-color: blanchedalmond;
    height: 100%;
   
}

.announcement-bar {
    background-color: azure;

}